h1{
    margin-top: 50px;
    text-align: center;
}

input{
    display:block;
    width: 40%;
    margin:10px auto;
    height: 25px;
}

button{
    display:block;
    width: 41%;
    margin:10px auto;
    height: 25px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}