h1{
    text-align: center;
}

table{
    width: 80%;
    margin: auto;
}

td{
    padding: 5px 20px;
}
button{
    display:block;
    margin: 16px auto;
    width: 450px;
    height: 30px;
    cursor: pointer;
    font-size:large;
    font-weight: bold;
}